body {
  background: #d2691e;
}

.main {
  height: auto;
  margin-left: 15%;
  margin-right: 15%;
  padding: 5px;
  background-color: lavender;
}

.title {
  text-align: center;
}

.edit {
  font-size: 50%;
  color: blue;
}
.editHover {
  font-size: 50%;
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}